In [16]:
from config.config import *
from sqlalchemy import create_engine
import pandas as pd

In [30]:
engine = create_engine(f"postgresql+psycopg2://{DB_ID}:{DB_PW}@{DB_URL}:{DB_PORT}/{DB_NAME}")

In [18]:
keyword = '계엄령'
query = f"""
SELECT 
    AVG(count_post) FILTER (WHERE count_post > 0) as avg_count_post
    ,AVG(count_like) FILTER (WHERE count_like > 0) as avg_count_like
    ,AVG(count_view) FILTER (WHERE count_view > 0) as avg_count_view
    ,AVG(count_comment) FILTER (WHERE count_comment > 0) as avg_count_comment
FROM dashboard
WHERE keyword = '{keyword}'
"""

data = pd.read_sql(query, engine)
data

   avg_count_post  avg_count_like  avg_count_view  avg_count_comment
0       71.706897        3.792552     2978.276518           8.524396

In [19]:
keyword = '계엄령'
query = f"""
SELECT community, post_date, count_post, count_like, count_view, count_comment
FROM dashboard
WHERE keyword = '{keyword}'
ORDER BY community, post_date
"""
data = pd.read_sql(query, engine)
data

   community   post_date  count_post  count_like  count_view  count_comment
0       개드립넷  2024-11-06           2      3.9944         NaN         1.8371
1       개드립넷  2024-11-12           2      5.8846         NaN         2.9924
2       개드립넷  2024-11-23           1      3.2934         NaN         1.5683
3       개드립넷  2024-11-24           1      3.9729         NaN         6.7870
4       개드립넷  2024-12-02           1      3.0776         NaN         4.1696
5       개드립넷  2024-12-04          92      8.6859         NaN         5.8320
6       개드립넷  2024-12-05         261      9.3525         NaN         5.9510
7       개드립넷  2024-12-06          67      9.9242         NaN         8.2683
8       개드립넷  2024-12-07          61     11.6944         NaN        16.0617
9       개드립넷  2024-12-08          24     11.1417         NaN        16.3439
10      개드립넷  2024-12-09          22         NaN         NaN        15.8278
11      개드립넷  2024-12-10          28         NaN         NaN        29.5787
12      개드립넷  2024-12-11          16         NaN         NaN        36.1957
13     clien  2024-11-03           1      0.0000   7854.3522         0.3111
14     clien  2024-11-05           1      0.0000  11573.8120         1.6001
15     clien  2024-11-06           1      0.0000   4663.1427         0.1966
16     clien  2024-11-07           1      0.0000  11730.6402         1.1279
17     clien  2024-11-13           1      0.0000   9127.2593         1.4338
18     clien  2024-11-14           1      0.0000  11265.5553         1.0695
19     clien  2024-11-16           1      0.0000  10247.1771         0.1512
20     clien  2024-11-18           1      0.0000   7774.5228         0.2879
21     clien  2024-11-19           2      0.0000   9216.0761         0.6993
22     clien  2024-11-20           1      0.0000         NaN         2.1383
23     clien  2024-12-03          90      0.0000    539.5796         0.2376
24     clien  2024-12-04         498      0.0000    548.3622         0.6432
25     clien  2024-12-05         230      0.0000    514.5496         0.8196
26     clien  2024-12-06         129      0.0000    682.6673         1.2291
27  HUMORUIV  2024-11-06           1         NaN   6121.7665         4.4615
28  HUMORUIV  2024-12-02           1      0.4012     25.2785         0.6420
29  HUMORUIV  2024-12-03          73      0.2745     40.7315         0.1825
30  HUMORUIV  2024-12-04         301      0.7575     40.1804         0.3687
31  HUMORUIV  2024-12-05          22      0.6935     30.3597         0.6096
32  HUMORUIV  2024-12-06          19      0.3645     23.7049         0.9466
33  HUMORUIV  2024-12-07           5      2.8429     80.7523         0.5169
34  HUMORUIV  2024-12-08           7      2.2814     51.0107         0.9402
35  HUMORUIV  2024-12-09           1      0.9180     80.4134         0.7344
36  HUMORUIV  2024-12-10           1      0.0000     19.6108         2.3346
37  HUMORUIV  2024-12-11           1      0.0000     32.6544         3.6283
38  HUMORUIV  2024-12-12           2      0.7361    118.3525         3.8025
39  HUMORUIV  2024-12-13           1      0.7356    141.9686        10.2982
40  HUMORUIV  2024-12-14           1      6.0000    492.0000        10.0000
41    INSTIZ  2024-11-04           1      0.0000    208.7195         3.5507
42    INSTIZ  2024-12-03          81      0.0000     15.3869         0.0892
43    INSTIZ  2024-12-04         726      0.0000     29.4182         0.2844
44    INSTIZ  2024-12-05         312      0.0000     35.1028         0.3257
45  NATEPANN  2024-12-03          51      0.0000     15.2712         0.0913
46  NATEPANN  2024-12-04         177      0.0925     15.1113         0.0000
47  NATEPANN  2024-12-05          31      0.1094     14.4863         0.1090
48  NATEPANN  2024-12-06          42      0.0000     11.3921         0.0000
49    theqoo  2024-11-04           1         NaN   2104.7650        35.5406
50    theqoo  2024-11-06           1         NaN   1076.7591        24.4224
51    theqoo  2024-11-09           1         NaN   2109.7133        25.4010
52    theqoo  2024-11-19           1         NaN   4107.3207        41.9451
53    theqoo  2024-12-01           1         NaN   6811.8910            NaN
54    theqoo  2024-12-03          40         NaN   4902.2191        30.1790
55    theqoo  2024-12-04         387         NaN   5404.9303        29.6224
56    theqoo  2024-12-05         168         NaN   5884.1250        37.6217
57    theqoo  2024-12-06         166         NaN   5261.0744        36.8346

In [20]:
keyword = '계엄령'
query = f"""
SELECT community, COUNT(community) as CNT
FROM dashboard
WHERE keyword = '{keyword}'
GROUP BY community
"""
data = pd.read_sql(query, engine)
data

  community  cnt
0  HUMORUIV   14
1  NATEPANN    4
2    INSTIZ    4
3     clien   14
4      개드립넷   13
5    theqoo    9

In [44]:
keyword = '계엄령'
query = f"""
SELECT post_date, community, title, link, link_criterita, count_view, count_comment, count_like
FROM dashboard
WHERE keyword = '{keyword}'
and count_post > 0
ORDER BY count_post, count_comment desc
LIMIT 10
"""
data = pd.read_sql(query, engine)
data

,post_date,community,title,link,link_criterita,count_view,count_comment,count_like
0,2024-12-01,theqoo,"[속보] 대통령실 ""민생·치안·외교 문제 발생시 전적으로 민주당 책임""",https://theqoo.net/hot/3508682080?page=206,7052.7748,6811.8910,NaN,NaN
1,2024-11-19,theqoo,김준수 소속사 팜트리아일랜드 공지,https://theqoo.net/hot/3492224744?page=273,4149.2658,4107.3207,41.9451,NaN
2,2024-11-04,theqoo,"[속보] 윤 대통령, 오는 7일 대국민 담화·기자회견",https://theqoo.net/hot/3472540923?page=363,2140.3056,2104.7650,35.5406,NaN
3,2024-11-09,theqoo,오늘 촛불시위 현장에서 경찰들한테 폭행 당한 한창민 의원,https://theqoo.net/hot/3479119808?page=334,2135.1143,2109.7133,25.4010,NaN
4,2024-11-06,theqoo,"[속보] 대통령실 ""우크라戰 모니터링팀 파견 필요…국회 동의 불필요""",https://theqoo.net/hot/3474848311?page=353,1101.1815,1076.7591,24.4224,NaN
5,2024-12-13,HUMORUIV,계엄령을 순우리말로 하면 뭐냐,https://web.humoruniv.com/board/humor/read.htm...,153.0024,141.9686,10.2982,0.7356
6,2024-12-14,HUMORUIV,계엄령에 총 싸움 게임 인기,https://web.humoruniv.com/board/humor/read.htm...,508.0000,492.0000,10.0000,6.0000
7,2024-11-24,개드립넷,화난 백종원 예산시장에 경고 ㄷㄷㄷ,https://www.dogdrip.net/dogdrip/597176312,10.7599,NaN,6.7870,3.9729
8,2024-11-06,HUMORUIV,드라마에서 야망을 드러낸 환경부,https://web.humoruniv.com/board/humor/read.htm...,6210.6346,6121.7665,4.4615,NaN
9,2024-12-02,개드립넷,팬들 충격받게 만든 악뮤 중대발표,https://www.dogdrip.net/dogdrip/598752064,7.2472,NaN,4.1696,3.0776

In [63]:
keyword = '코스피'
community = 'HUMORUIV'

query = f"""
SELECT community, post_date, label, label_score
FROM dashboard
WHERE keyword = '{keyword}'
and community = '{community}'
and count_post > 1
ORDER BY community, post_date
"""
data = pd.read_sql(query, engine)
data

  community   post_date label  label_score
0  HUMORUIV  2024-11-11    부정          7.0
1  HUMORUIV  2024-11-12    중립          7.0
2  HUMORUIV  2024-11-14    중립          6.0
3  HUMORUIV  2024-11-15    부정          6.0
4  HUMORUIV  2024-12-04    중립          7.0
5  HUMORUIV  2024-12-06    중립          5.5
6  HUMORUIV  2024-12-09    중립          6.0