In [5]:
from config.config import *
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine(f"postgresql+psycopg2://{DB_ID}:{DB_PW}@{DB_URL}:{DB_PORT}/{DB_NAME}")

In [3]:
keyword = '계엄령'
query = f"""
SELECT 
    AVG(count_post) FILTER (WHERE count_post > 0) as avg_count_post
    ,AVG(count_like) FILTER (WHERE count_like > 0) as avg_count_like
    ,AVG(count_view) FILTER (WHERE count_view > 0) as avg_count_view
    ,AVG(count_comment) FILTER (WHERE count_comment > 0) as avg_count_comment
FROM dashboard
WHERE keyword = '{keyword}'
"""

In [6]:
data = pd.read_sql(query, engine)
data

   avg_count_post  avg_count_like  avg_count_view  avg_count_comment
0      100.578947         1.66745     6947.494024           1.028753

In [12]:
keyword = '계엄령'
query = f"""
SELECT community, post_date, count_post, count_like, count_view, count_comment
FROM dashboard
WHERE keyword = '{keyword}'
ORDER BY community, post_date
"""
data = pd.read_sql(query, engine)
data

   community   post_date  count_post  count_like  count_view  count_comment
0      clien  2024-11-03           1      0.0000   7854.3522         0.3111
1      clien  2024-11-05           1      0.0000  11573.8120         1.6001
2      clien  2024-11-06           1      0.0000   4663.1427         0.1966
3      clien  2024-11-07           1      0.0000  11730.6402         1.1279
4      clien  2024-11-13           1      0.0000   9127.2593         1.4338
5      clien  2024-11-14           1      0.0000  11265.5553         1.0695
6      clien  2024-11-16           2      0.0000  10247.1771         0.1512
7      clien  2024-11-18           2      0.0000   7774.5228         0.2879
8      clien  2024-11-19           4      0.0000   9216.0761         0.6993
9      clien  2024-11-20           2      0.0000         NaN         2.1383
10     clien  2024-12-03          90      0.0000      0.0000         0.2375
11     clien  2024-12-04         498      0.0000      0.0000         0.6117
12     clien  2024-12-05         230      0.0000      0.0000         0.7567
13     clien  2024-12-06         183      0.0000      0.0000         1.0174
14  HUMORUIV  2024-11-06           1         NaN      0.0000            NaN
15  HUMORUIV  2024-12-02           1      0.4012      0.0000         0.6420
16  HUMORUIV  2024-12-03          73      0.2732      0.0000         0.1825
17  HUMORUIV  2024-12-04         301      0.4585      0.0000         0.3687
18  HUMORUIV  2024-12-05          22      0.4431      0.0000         0.6096
19  HUMORUIV  2024-12-06          19      0.2367      0.0000         0.9466
20  HUMORUIV  2024-12-07           5         NaN      0.0000         0.5169
21  HUMORUIV  2024-12-08           7      0.7983      0.0000         0.9402
22  HUMORUIV  2024-12-09           1      0.9180      0.0000         0.7344
23  HUMORUIV  2024-12-10           1      0.0000      0.0000         2.3346
24  HUMORUIV  2024-12-11           1      0.0000      0.0000         3.6283
25  HUMORUIV  2024-12-12           2      0.0000      0.0000         2.5762
26  HUMORUIV  2024-12-13           1      0.7356      0.0000            NaN
27  HUMORUIV  2024-12-14           1         NaN      0.0000            NaN
28    INSTIZ  2024-11-04           1      0.0000    208.7195         3.5507
29    INSTIZ  2024-12-03          81      0.0000     10.6464         0.0892
30    INSTIZ  2024-12-04         745      0.0000     26.5857         0.2755
31    INSTIZ  2024-12-05         312      0.0000     31.2197         0.3198
32  NATEPANN  2024-12-03          51      0.0000      0.0000         0.0913
33  NATEPANN  2024-12-04         177      0.0000      0.0000         0.0000
34  NATEPANN  2024-12-05          31      0.0544      0.0000         0.1090
35  NATEPANN  2024-12-06          42      0.0000      0.0000         0.0000